.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
*.pyc

frontend/node_modules
frontend/build
frontend/.idea


.serverless
node_modules/
.idea/
*.code-workspace
.vscode/
